@import 'marcura-ui/less.less';
.ma-text-area {
    position: relative;
    &-is-focused &-value {
        .box-shadow(@input-shadow-focused);
        border-color: @color-primary;
    }
    &-fit-content-height &-value {
        overflow-y: hidden;
    }
    &-is-disabled &-value {
        .box-shadow(none);
        background-color: @color-disabled;
        color: @text-color-disabled;
        cursor: default;
    }
    &-is-invalid&-is-touched {
        &.ma-text-area-is-focused .ma-text-area-value {
            .box-shadow(@input-shadow-invalid);
        }
        .ma-text-area-value {
            border-color: @color-danger;
        }
    }
    &-value {
        .input;
        .input-transition;
        .box-shadow(@input-shadow);
        display: block;
        padding: 4px 27px 4px 10px;
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        font-family: inherit;
        font-size: inherit;
        background-color: @input-background-color;
        border: 1px solid @border-color;
        line-height: 20px;
    }
}