@import 'marcura-ui/less.less';

.ma-text-area {
    position: relative;

    &-is-focused &-value {
        .box-shadow(@input-shadow-is-focused);
        border-color: @input-border-color-is-focused;
    }

    &-fit-content-height &-value {
        overflow-y: hidden;
    }

    &-value {
        .input;
        .input-transition;
        .box-shadow(@input-shadow);
        display: block;
        padding: 5px 27px 5px 10px;
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        font-family: @font-family;
        border: 1px solid @input-border-color;
        line-height: 20px;
    }
}
