@font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
@input-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
@input-shadow-focused: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
@input-shadow-invalid: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
@input-color: #333333;
@input-border-color: #cccccc;
@input-border-color-focused: #66afe9;
@input-border-color-invalid: #843534;
@input-background-color: #ffffff;
@input-background-color-disabled: #eeeeee;

.user-select(@value) {
    -webkit-user-select: @value;
    -moz-user-select: @value;
    -ms-user-select: @value;
    user-select: @value;
}

.box-shadow(@value) {
    -webkit-box-shadow: @value;
    -moz-box-shadow: @value;
    box-shadow: @value;
}

.transition(@value) {
    -webkit-transition: @value;
    -o-transition: @value;
    transition: @value;
}

.rotate(@value) {
    -webkit-transform: rotate(@value);
    -ms-transform: rotate(@value);
    transform: rotate(@value);
}

.display-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
}

.input {
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;

    &::-ms-clear {
        display: none;
    }
}

.input-transition {
    .transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s;);
}
