@import 'marcura-ui/button/button-variables.less';
@import 'marcura-ui/pager/pager-variables.less';
@font-family: 'Helvetica Neue',
'Helvetica',
sans-serif;
@text-color: #333333;
@text-color-light: #7d7d87;
@text-color-disabled: #7d7d87;
@color-primary: #36a4ff;
@color-danger: #d0011b;
@color-warning: #aa6708;
@color-disabled: #eeeeee;
@background-color-darker-light: #e6e6e6;
@background-color-light: #f2f4f5;
@background-color-dark: #e6e7e8;
@input-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
@input-shadow-focused: inset 0 1px 1px rgba(0, 0, 0, .075),
0 0 8px rgba(102, 175, 233, .6);
@input-shadow-invalid: inset 0 1px 1px rgba(0, 0, 0, .075),
0 0 6px #ce8483;
@border-color: #c3c3cd;
@input-background-color: #ffffff;
@content-margin: 10px;
@content-padding: 10px;
@screen-xs: 480px;
@screen-xs-min: @screen-xs;
@screen-sm: 768px;
@screen-sm-min: @screen-sm;
@screen-md: 992px;
@screen-md-min: @screen-md;
@screen-lg: 1200px;
@screen-lg-min: @screen-lg;
// So media queries don't overlap when required, provide a maximum.
@screen-xxs-max: (@screen-xs-min - 1);
@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);
@component-height: 30px;
.cut-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-select(@value) {
    -webkit-user-select: @value;
    -moz-user-select: @value;
    -ms-user-select: @value;
    user-select: @value;
}

.box-shadow(@value) {
    -webkit-box-shadow: @value;
    -moz-box-shadow: @value;
    box-shadow: @value;
}

.box-sizing(@value) {
    -webkit-box-sizing: @value;
    -moz-box-sizing: @value;
    box-sizing: @value;
}

.transition(@value) {
    -webkit-transition: @value;
    -o-transition: @value;
    transition: @value;
}

.rotate(@value) {
    -webkit-transform: rotate(@value);
    -ms-transform: rotate(@value);
    transform: rotate(@value);
}

.display-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.display-inline-flex {
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.flex-wrap {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.input {
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    &::-ms-clear,
    &::-ms-reveal {
        display: none;
    }
}

.input-transition {
    .transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    );
}

.input-reset-button {
    .ma-button.ma-button-reset {
        position: absolute;
        top: 0;
        right: 0;
        border-left: 0;
        .box-shadow(none);
    }
    .ma-button-reset .ma-button-icon {
        font-size: 20px;
        text-shadow: none;
        color: #bebebe;
    }
    .ma-button-reset.ma-button-is-disabled {
        background-color: @color-disabled;
        .ma-button-icon {
            color: inherit;
            opacity: 0.45;
        }
    }
}

.input-reset-button-disabled {
    .ma-button-reset.ma-button-is-disabled {
        background-color: #ffffff;
        .ma-button-icon {
            opacity: 0.15;
        }
    }
}

// This is for Flex to work.
* {
    box-sizing: border-box;
}