@import 'marcura-ui/less.less';

@progress-step-height: 30px;
@progress-step-width: 30px;

.ma-progress {
    &-inner {
        position: relative;
        height: @progress-step-height;
    }

    &-background {
        position: relative;
        background-color: #979797;
        width: 100%;
        height: 1px;
        top: 14px;
        border-radius: 5px;
    }

    &-bar {
        position: relative;
        background-color: @color-primary;
        height: 1px;
        top: 13px;
    }

    &-text {
        line-height: @progress-step-height;
        text-align: center;
        font-size: 16px;
    }

    &-step {
        position: absolute;
        width: @progress-step-width;
        height: @progress-step-height;
        background-color: #ffffff;
        top: 0;
        border-radius: 14px;
        border: 1px solid #979797;
        z-index: 10;
        .box-sizing(border-box);

        &:not(:first-child):not(:last-child) {
            margin-left: -14px;
        }

        &:last-child {
            left: auto !important;
            right: 0;
        }

        &-is-current {
            background-color: @color-primary;
            border-color: @color-primary;
            color: #ffffff;
        }
    }

    &-labels {
        .display-flex;
        margin-top: 5px;
    }

    &-label {
        box-sizing: border-box;
        width: 33.3%;
        font-size: 12px;
        text-align: center;

        &:first-child {
            text-align: left;
        }

        &:last-child {
            text-align: right;
        }
    }
}
