<div class="nodes nodes-padding-bottom-m">
    <div class="nodes-item">
        <a href="#/home">Home</a>
    </div>
    <div class="nodes-item">
        <h1>Grid</h1>
    </div>
    <div class="nodes-item">
        <div class="ma-grid ma-grid-das">
            <div class="ma-grid-top">
                <div class="ma-grid-title">
                    DAs
                </div>
            </div>
            <div class="ma-grid-header">
                <div class="ma-grid-header-col ma-grid-header-col-vessel ma-grid-header-col-sortable"
                    ng-click="changeOrder('vessel')">
                    <div class="ma-grid-caption">
                        <div class="ma-grid-label">Vessel</div>
                        <ma-grid-order
                            order-by="vessel"
                            ordered-by="orderedBy"
                            direction="orderDirection">
                        </ma-grid-order>
                    </div>
                </div>
                <div class="ma-grid-header-col ma-grid-header-col-operation ma-grid-header-col-sortable"
                    ng-click="changeOrder('operation')">
                    <div class="ma-grid-caption">
                        <div class="ma-grid-label">O</div>
                        <ma-grid-order
                            order-by="operation"
                            ordered-by="orderedBy"
                            direction="orderDirection">
                        </ma-grid-order>
                    </div>
                </div>
                <div class="ma-grid-header-col ma-grid-header-col-commodity ma-grid-header-col-sortable"
                    ng-click="changeOrder('commodity')">
                    <div class="ma-grid-caption">
                        <div class="ma-grid-label">Commodity</div>
                        <ma-grid-order
                            order-by="commodity"
                            ordered-by="orderedBy"
                            direction="orderDirection">
                        </ma-grid-order>
                    </div>
                </div>
                <div class="ma-grid-header-col ma-grid-header-col-eta ma-grid-header-col-sortable"
                    ng-click="changeOrder('eta')">
                    <div class="ma-grid-caption">
                        <div class="ma-grid-label">ETA</div>
                        <ma-grid-order
                            order-by="eta"
                            ordered-by="orderedBy"
                            direction="orderDirection">
                        </ma-grid-order>
                    </div>
                </div>
                <div class="ma-grid-header-col ma-grid-header-col-status ma-grid-header-col-sortable"
                    ng-click="changeOrder('status')">
                    <div class="ma-grid-caption">
                        <div class="ma-grid-label">Status</div>
                        <ma-grid-order
                            order-by="status"
                            ordered-by="orderedBy"
                            direction="orderDirection">
                        </ma-grid-order>
                    </div>
                </div>
                <div class="ma-grid-header-col ma-grid-header-col-total ma-grid-header-col-sortable"
                    ng-click="changeOrder('total')">
                    <div class="ma-grid-caption">
                        <div class="ma-grid-label">Total</div>
                        <ma-grid-order
                            order-by="total"
                            ordered-by="orderedBy"
                            direction="orderDirection">
                        </ma-grid-order>
                    </div>
                </div>
            </div>
            <div class="ma-grid-content" ng-if="!_.isEmpty(das)">
                <div class="ma-grid-row"
                    ng-repeat="da in das | orderBy: orderedBy">
                    <div class="ma-grid-row-inner">
                        <div class="ma-grid-col ma-grid-col-vessel">
                            <td>{{da.vessel}}</td>
                        </div>
                        <div class="ma-grid-col ma-grid-col-operation">
                            {{da.operation.substring(0,1)}}
                        </div>
                        <div class="ma-grid-col ma-grid-col-commodity">
                            {{da.commodity}}
                        </div>
                        <div class="ma-grid-col ma-grid-col-eta">
                            {{da.eta | date: 'dd/MM'}}
                        </div>
                        <div class="ma-grid-col ma-grid-col-status">
                            {{da.status}}
                        </div>
                        <div class="ma-grid-col ma-grid-col-total">
                            {{da.total | number: 2}} USD
                        </div>
                    </div>
                </div>
            </div>
            <div class="ma-grid-empty" ng-if="_.isEmpty(das)">
                <div class="ma-grid-empty-icon">
                    <i class="fa fa-search"></i>
                </div>
                <div class="ma-grid-empty-text">No items found.</div>
            </div>
        </div>
    </div>
</div>
