<div class="nodes nodes-padding-bottom-m">
    <div class="nodes-item">
        <a href="#/home">Home</a>
    </div>
    <div class="nodes-item">
        <h1>Grid (<a href="https://github.com/Marcura/marcura-ui/wiki/grid">API documentation</a>)</h1>
    </div>
    <div class="nodes-item">
        <h2>Basic</h2>
    </div>
    <div class="nodes-item">
        <div class="ma-grid ma-grid-das">
            <div class="ma-grid-top">
                <div class="ma-grid-title">
                    DAs
                </div>
            </div>
            <div class="ma-grid-header">
                <div class="ma-grid-header-col ma-grid-header-col-25 ma-grid-header-col-sortable"
                    ng-click="maHelper.changeSortingOrder(sorting, 'vessel')">
                    <div class="ma-grid-caption">
                        <div class="ma-grid-label">Vessel</div>
                        <ma-grid-order order-by="vessel" sorting="sorting"></ma-grid-order>
                    </div>
                </div>
                <div class="ma-grid-header-col ma-grid-header-col-5 ma-grid-header-col-sortable"
                    ng-click="maHelper.changeSortingOrder(sorting, 'operation')">
                    <div class="ma-grid-caption">
                        <div class="ma-grid-label">O</div>
                        <ma-grid-order order-by="operation" sorting="sorting"></ma-grid-order>
                    </div>
                </div>
                <div class="ma-grid-header-col ma-grid-header-col-20 ma-grid-header-col-sortable"
                    ng-click="maHelper.changeSortingOrder(sorting, 'commodity')">
                    <div class="ma-grid-caption">
                        <div class="ma-grid-label">Commodity</div>
                        <ma-grid-order order-by="commodity" sorting="sorting"></ma-grid-order>
                    </div>
                </div>
                <div class="ma-grid-header-col ma-grid-header-col-10 ma-grid-header-col-sortable"
                    ng-click="maHelper.changeSortingOrder(sorting, 'eta')">
                    <div class="ma-grid-caption">
                        <div class="ma-grid-label">ETA</div>
                        <ma-grid-order order-by="eta" sorting="sorting"></ma-grid-order>
                    </div>
                </div>
                <div class="ma-grid-header-col ma-grid-header-col-25 ma-grid-header-col-sortable"
                    ng-click="maHelper.changeSortingOrder(sorting, 'status')">
                    <div class="ma-grid-caption">
                        <div class="ma-grid-label">Status</div>
                        <ma-grid-order order-by="status" sorting="sorting"></ma-grid-order>
                    </div>
                </div>
                <div class="ma-grid-header-col ma-grid-header-col-15 ma-grid-header-col-sortable"
                    ng-click="maHelper.changeSortingOrder(sorting, 'total')">
                    <div class="ma-grid-caption">
                        <div class="ma-grid-label">Total</div>
                        <ma-grid-order order-by="total" sorting="sorting"></ma-grid-order>
                    </div>
                </div>
            </div>
            <div class="ma-grid-content" ng-if="!_.isEmpty(das)">
                <div class="ma-grid-row"
                    ng-repeat="da in das | orderBy: sorting.orderedBy">
                    <div class="ma-grid-row-inner">
                        <div class="ma-grid-col ma-grid-col-25">
                            {{da.vessel}}
                        </div>
                        <div class="ma-grid-col ma-grid-col-5">
                            {{da.operation.substring(0,1)}}
                        </div>
                        <div class="ma-grid-col ma-grid-col-20">
                            {{da.commodity}}
                        </div>
                        <div class="ma-grid-col ma-grid-col-10">
                            {{da.eta | date: 'dd/MM'}}
                        </div>
                        <div class="ma-grid-col ma-grid-col-25">
                            {{da.status}}
                        </div>
                        <div class="ma-grid-col ma-grid-col-15">
                            {{da.total | number: 2}} USD
                        </div>
                    </div>
                </div>
            </div>
            <div class="ma-grid-empty" ng-if="_.isEmpty(das)">
                <div class="ma-grid-empty-icon">
                    <i class="fa fa-search"></i>
                </div>
                <div class="ma-grid-empty-text">No items found.</div>
            </div>
        </div>
    </div>
    <div class="nodes-item">
        <h2>Responsive</h2>
    </div>
    <div class="nodes-item">
        <div class="ma-grid ma-grid-das ma-grid-responsive ma-grid-size-md">
            <div class="ma-grid-inner">
                <div class="ma-grid-top">
                    <div class="ma-grid-title">
                        DAs
                    </div>
                </div>
                <div class="ma-grid-header">
                    <div class="ma-grid-header-col ma-grid-header-col-25 ma-grid-header-col-sortable"
                        ng-click="maHelper.changeSortingOrder(sorting, 'vessel')">
                        <div class="ma-grid-caption">
                            <div class="ma-grid-label">Vessel</div>
                            <ma-grid-order order-by="vessel" sorting="sorting"></ma-grid-order>
                        </div>
                    </div>
                    <div class="ma-grid-header-col ma-grid-header-col-5 ma-grid-header-col-sortable"
                        ng-click="maHelper.changeSortingOrder(sorting, 'operation')">
                        <div class="ma-grid-caption">
                            <div class="ma-grid-label">O</div>
                            <ma-grid-order order-by="operation" sorting="sorting"></ma-grid-order>
                        </div>
                    </div>
                    <div class="ma-grid-header-col ma-grid-header-col-20 ma-grid-header-col-sortable"
                        ng-click="maHelper.changeSortingOrder(sorting, 'commodity')">
                        <div class="ma-grid-caption">
                            <div class="ma-grid-label">Commodity</div>
                            <ma-grid-order order-by="commodity" sorting="sorting"></ma-grid-order>
                        </div>
                    </div>
                    <div class="ma-grid-header-col ma-grid-header-col-10 ma-grid-header-col-sortable"
                        ng-click="maHelper.changeSortingOrder(sorting, 'eta')">
                        <div class="ma-grid-caption">
                            <div class="ma-grid-label">ETA</div>
                            <ma-grid-order order-by="eta" sorting="sorting"></ma-grid-order>
                        </div>
                    </div>
                    <div class="ma-grid-header-col ma-grid-header-col-25 ma-grid-header-col-sortable"
                        ng-click="maHelper.changeSortingOrder(sorting, 'status')">
                        <div class="ma-grid-caption">
                            <div class="ma-grid-label">Status</div>
                            <ma-grid-order order-by="status" sorting="sorting"></ma-grid-order>
                        </div>
                    </div>
                    <div class="ma-grid-header-col ma-grid-header-col-15 ma-grid-header-col-sortable"
                        ng-click="maHelper.changeSortingOrder(sorting, 'total')">
                        <div class="ma-grid-caption">
                            <div class="ma-grid-label">Total</div>
                            <ma-grid-order order-by="total" sorting="sorting"></ma-grid-order>
                        </div>
                    </div>
                </div>
                <div class="ma-grid-content" ng-if="!_.isEmpty(das)">
                    <div class="ma-grid-row"
                        ng-repeat="da in das | orderBy: sorting.orderedBy">
                        <div class="ma-grid-row-inner">
                            <div class="ma-grid-col ma-grid-col-25">
                                {{da.vessel}}
                            </div>
                            <div class="ma-grid-col ma-grid-col-5">
                                {{da.operation.substring(0,1)}}
                            </div>
                            <div class="ma-grid-col ma-grid-col-20">
                                {{da.commodity}}
                            </div>
                            <div class="ma-grid-col ma-grid-col-10">
                                {{da.eta | date: 'dd/MM'}}
                            </div>
                            <div class="ma-grid-col ma-grid-col-25">
                                {{da.status}}
                            </div>
                            <div class="ma-grid-col ma-grid-col-15">
                                {{da.total | number: 2}} USD
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ma-grid-empty" ng-if="_.isEmpty(das)">
                    <div class="ma-grid-empty-icon">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="ma-grid-empty-text">No items found.</div>
                </div>
            </div>
        </div>
    </div>
</div>
