<div class="nodes nodes-padding-bottom-m">
    <div class="nodes-item">
        <a href="#/home">Home</a>
    </div>
    <div class="nodes-item">
        <h1>Grid</h1>
        <div class="api-documentation">
            <a href="https://github.com/Marcura/marcura-ui/wiki/grid">API
                documentation</a>
        </div>
    </div>
    <div class="nodes-item">
        <h2>Basic</h2>
    </div>
    <div class="nodes-item">
        <ma-grid modifier="das" sort-by="sortField1">
            <div class="ma-grid-top">
                <div class="ma-grid-title">
                    DAs
                </div>
            </div>
            <div class="ma-grid-header">
                <div class="ma-grid-header-col ma-grid-header-col-xs-25">
                    <div class="ma-grid-header-col-inner">
                        <div class="ma-grid-caption">
                            <div class="ma-grid-label">Vessel</div>
                            <ma-grid-sort sort-by="vessel"></ma-grid-sort>
                        </div>
                    </div>
                </div>
                <div class="ma-grid-header-col ma-grid-header-col-xs-5">
                    <div class="ma-grid-header-col-inner">
                        <div class="ma-grid-caption">
                            <div class="ma-grid-label">O</div>
                            <ma-grid-sort sort-by="operation"></ma-grid-sort>
                        </div>
                    </div>
                </div>
                <div class="ma-grid-header-col ma-grid-header-col-xs-20">
                    <div class="ma-grid-header-col-inner">
                        <div class="ma-grid-caption">
                            <div class="ma-grid-label">Commodity</div>
                            <ma-grid-sort sort-by="commodity"></ma-grid-sort>
                        </div>
                    </div>
                </div>
                <div class="ma-grid-header-col ma-grid-header-col-xs-10">
                    <div class="ma-grid-header-col-inner">
                        <div class="ma-grid-caption">
                            <div class="ma-grid-label">ETA</div>
                            <ma-grid-sort sort-by="eta"></ma-grid-sort>
                        </div>
                    </div>
                </div>
                <div class="ma-grid-header-col ma-grid-header-col-xs-25">
                    <div class="ma-grid-header-col-inner">
                        <div class="ma-grid-caption">
                            <div class="ma-grid-label">Status</div>
                            <ma-grid-sort sort-by="status"></ma-grid-sort>
                        </div>
                    </div>
                </div>
                <div class="ma-grid-header-col ma-grid-header-col-xs-15">
                    <div class="ma-grid-header-col-inner">
                        <div class="ma-grid-caption">
                            <div class="ma-grid-label">Total</div>
                            <ma-grid-sort sort-by="total"></ma-grid-sort>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ma-grid-content" ng-if="!_.isEmpty(das)">
                <div class="ma-grid-row" ng-repeat="da in das | orderBy: [
                    (sortField1.isAsc ? sortField1.name : '-' + sortField1.name),
                    '-total'
                ]">
                    <div class="ma-grid-row-inner">
                        <div class="ma-grid-col ma-grid-col-xs-25">
                            {{da.vessel}}
                        </div>
                        <div class="ma-grid-col ma-grid-col-xs-5">
                            {{da.operation.substring(0,1)}}
                        </div>
                        <div class="ma-grid-col ma-grid-col-xs-20">
                            {{da.commodity}}
                        </div>
                        <div class="ma-grid-col ma-grid-col-xs-10">
                            {{da.eta | date: 'dd/MM'}}
                        </div>
                        <div class="ma-grid-col ma-grid-col-xs-25">
                            {{da.status}}
                        </div>
                        <div class="ma-grid-col ma-grid-col-xs-15">
                            {{da.total | number: 2}} USD
                        </div>
                    </div>
                </div>
            </div>
            <div class="ma-grid-empty" ng-if="_.isEmpty(das)">
                <div class="ma-grid-empty-icon">
                    <i class="fa fa-search"></i>
                </div>
                <div class="ma-grid-empty-text">No items found.</div>
            </div>
        </ma-grid>
    </div>
    <div class="nodes-item">
        <h2>Responsive</h2>
    </div>
    <div class="nodes-item">
        <ma-grid modifier="das" sort-by="sortField2" is-responsive="true">
            <div class="ma-grid-top">
                <div class="ma-grid-title">
                    DAs
                </div>
            </div>
            <div class="ma-grid-header">
                <div class="ma-grid-header-col ma-grid-header-col-xs-25">
                    <div class="ma-grid-header-col-inner">
                        <div class="ma-grid-caption">
                            <div class="ma-grid-label">Vessel</div>
                            <ma-grid-sort sort-by="vessel"></ma-grid-sort>
                        </div>
                    </div>
                </div>
                <div class="ma-grid-header-col ma-grid-header-col-xs-5">
                    <div class="ma-grid-header-col-inner">
                        <div class="ma-grid-caption">
                            <div class="ma-grid-label">O</div>
                            <ma-grid-sort sort-by="operation"></ma-grid-sort>
                        </div>
                    </div>
                </div>
                <div class="ma-grid-header-col ma-grid-header-col-xs-20">
                    <div class="ma-grid-header-col-inner">
                        <div class="ma-grid-caption">
                            <div class="ma-grid-label">Commodity</div>
                            <ma-grid-sort sort-by="commodity"></ma-grid-sort>
                        </div>
                    </div>
                </div>
                <div class="ma-grid-header-col ma-grid-header-col-xs-10">
                    <div class="ma-grid-header-col-inner">
                        <div class="ma-grid-caption">
                            <div class="ma-grid-label">ETA</div>
                            <ma-grid-sort sort-by="eta"></ma-grid-sort>
                        </div>
                    </div>
                </div>
                <div class="ma-grid-header-col ma-grid-header-col-xs-25">
                    <div class="ma-grid-header-col-inner">
                        <div class="ma-grid-caption">
                            <div class="ma-grid-label">Status</div>
                            <ma-grid-sort sort-by="status"></ma-grid-sort>
                        </div>
                    </div>
                </div>
                <div class="ma-grid-header-col ma-grid-header-col-xs-15">
                    <div class="ma-grid-header-col-inner">
                        <div class="ma-grid-caption">
                            <div class="ma-grid-label">Total</div>
                            <ma-grid-sort sort-by="total"></ma-grid-sort>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ma-grid-content" ng-if="!_.isEmpty(das)">
                <div class="ma-grid-row" ng-repeat="da in das | orderBy: [
                    (sortField2.isAsc ? sortField2.name : '-' + sortField2.name)
                ]">
                    <div class="ma-grid-row-inner">
                        <div class="ma-grid-col ma-grid-col-xs-25">
                            {{da.vessel}}
                        </div>
                        <div class="ma-grid-col ma-grid-col-xs-5">
                            {{da.operation.substring(0,1)}}
                        </div>
                        <div class="ma-grid-col ma-grid-col-xs-20">
                            {{da.commodity}}
                        </div>
                        <div class="ma-grid-col ma-grid-col-xs-10">
                            {{da.eta | date: 'dd/MM'}}
                        </div>
                        <div class="ma-grid-col ma-grid-col-xs-25">
                            {{da.status}}
                        </div>
                        <div class="ma-grid-col ma-grid-col-xs-15">
                            {{da.total | number: 2}} USD
                        </div>
                    </div>
                </div>
            </div>
            <div class="ma-grid-empty" ng-if="_.isEmpty(das)">
                <div class="ma-grid-empty-icon">
                    <i class="fa fa-search"></i>
                </div>
                <div class="ma-grid-empty-text">No items found.</div>
            </div>
        </ma-grid>
    </div>
</div>