@import 'marcura-ui/less.less';

.ma-grid-order {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;

    .fa {
        position: absolute;
        top: 1px;
        left: 6px;
        opacity: 0.3;
    }

    &-asc {
        .fa-sort-asc {
            opacity: 1;
        }
    }

    &-desc {
        .fa-sort-desc {
            opacity: 1;
        }
    }
}