@import 'marcura-ui/less.less';

.ma-grid-sort {
    position: absolute;
    top: 0;
    right: 0;
    /*Make the element overlap its parent label to make the label clickable as well.*/
    width: 100%;
    height: 100%;

    .fa {
        position: absolute;
        top: 1px;
        right: 0;
        opacity: 0.3;
    }

    &-asc {
        .fa-sort-up {
            opacity: 1;
        }
    }

    &-desc {
        .fa-sort-down {
            opacity: 1;
        }
    }
}