html {
    margin: 0;
}

strong,
b {
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    font-weight: 100;
    font-family: arial, sans-serif;
    color: #111111;
}

h1,
.h1 {
    font-size: 34px;
    line-height: 38px;
}

h2,
.h2 {
    font-size: 28px;
    line-height: 32px;
}

h3,
.h3 {
    font-size: 24px;
    line-height: 28px;
}

h4,
.h4 {
    font-size: 20px;
    line-height: 24px;
}

h5,
.h5 {
    font-size: 16px;
    line-height: 20px;
}

a:link,
a:visited,
a:active {
    color: #1364C4;
    text-decoration: none;
    font: inherit;
}

a:hover {
    text-decoration: underline;
}

.app {
    color: #2A2A2A;
}

.app-body {
    margin: 0;
    font: 14px arial, sans-serif;
}

.app-inner {
    padding: 20px;
}

.app-header {
    padding: 20px;
    border-bottom: 1px solid #cccccc;
}

.nodes-padding-bottom-xs> .nodes-item {
    margin-bottom: 10px;
}

.nodes-padding-bottom-s> .nodes-item {
    margin-bottom: 15px;
}

.nodes-padding-bottom-m> .nodes-item {
    margin-bottom: 20px;
}

.nodes-padding-bottom-l> .nodes-item {
    margin-bottom: 25px;
}

.nodes-padding-bottom-xl> .nodes-item {
    margin-bottom: 30px;
}

.nodes-item:last-child {
    margin-bottom: 0;
}

.list {
    font: inherit;
}

.list-padding-bottom-xs> .list-item {
    margin-bottom: 5px;
}

.list-padding-bottom-s> .list-item {
    margin-bottom: 10px;
}

.list-padding-bottom-m> .list-item {
    margin-bottom: 15px;
}

.list-padding-bottom-l> .list-item {
    margin-bottom: 20px;
}

.list-padding-bottom-xl> .list-item {
    margin-bottom: 25px;
}

.list-item:last-child {
    margin-bottom: 0;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-type-ordered {
    list-style-type: decimal;
    padding: 0 0 0 20px;
}

.list-unordered .list-item {
    position: relative;
    padding: 0 0 0 20px;
}

.list-unordered .list-icon {
    width: 6px;
    height: 6px;
    position: absolute;
    top: 6px;
    left: 5px;
    border-radius: 3px;
    background-color: #cccccc;
}
