<div class="nodes nodes-padding-bottom-m">
    <div class="nodes-item">
        <a href="#/home">Home</a>
    </div>
    <div class="nodes-item">
        <h1>UI Select</h1>
    </div>
    <div class="nodes-item">
        <h2>Basic</h2>
    </div>
    <div class="nodes-item">
        <ui-select ng-model="selected.value">
            <ui-select-match>
                <span ng-bind="$select.selected.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
                <span ng-bind="item.name"></span>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="nodes-item">
        <h2>Adding options dynamically</h2>
    </div>
    <div class="nodes-item">
        <ui-select ng-model="order.drink" reset-search-input="false" required="true" ng-maxlength="40">
            <ui-select-match placeholder="Select drink or add new one...">
                <span>{{$select.selected.description || $select.search}}</span>
                <a class="btn btn-xs btn-link pull-right" ng-click="clear($event, $select)">
                    <i class="glyphicon glyphicon-remove"></i>
                </a>
            </ui-select-match>
            <ui-select-choices repeat="drink in (drinks | filter: { description: $select.search }) track by drink.id" refresh="refreshResults($select)" refresh-delay="0">
                <span>{{drink.description}}</span>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="nodes-item">
        <pre>{{drink | json}}</pre>
    </div>
</div>
