@import 'marcura-ui/less.less';

.ma-label {
    display: inline-block;
    position: relative;

    &-is-required {
        .ma-label-text {
            max-width: ~'calc(100% - 10px)';
        }
    }

    &-has-content {
        .ma-label-star {
            width: 10px;
        }
    }
    
    &-text {
        display: inline-block;
        .box-sizing(border-box);
        margin: 0;
        padding: 0;
        font-weight: normal;
    }

    &-star {
        display: inline-block;
        width: 6px;
        line-height: inherit;
    }

    .fa-star {
        color: @color-danger;
        position: absolute;
        width: 6px;
        height: 6px;
        top: 2px;
        line-height: 8px;
        right: 0;
        font-size: 7px;
    }
}