@import 'marcura-ui/less.less';

.ma-label {
    display: inline-block;
    /*Use max-width, not width, only for overflow to work.*/
    max-width: 100%;

    &-is-required {
        .ma-label-text {
            max-width: ~'calc(100% - 10px)';
        }
    }

    &-has-content {
        .ma-label-star {
            width: 10px;
        }
    }

    &-cut-overflow {
        .ma-label-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &-text {
        .box-sizing(border-box);
        width: 100%;
        display: inline-block;
        vertical-align: top;
        margin: 0;
        padding: 0;
        font-weight: normal;
    }

    &-star {
        position: relative;
        display: inline-block;
        width: 6px;
        line-height: inherit;
    }

    .fa-star {
        color: @color-danger;
        position: absolute;
        width: 6px;
        height: 6px;
        top: 2px;
        line-height: 8px;
        right: 0;
        font-size: 7px;
    }
}