@import 'marcura-ui/less.less';

.ma-pager {
    display: inline-block;

    .form-control {
        display: inline-block;
        width: 50px;
        text-align: center;
        margin-left: 10px;
        vertical-align: top;
    }

    .ma-button {
        vertical-align: top;

        &-previous .ma-button-icon {
            margin-top: -9px;
            margin-right: -9px;
        }

        &-next .ma-button-icon {
            margin-top: -9px;
            margin-right: -11px;
        }
    }

    &-text {
        line-height: 30px;
        margin-left: 10px;
        width: 100px;
        padding-right: 10px;
        display: inline-block;
        vertical-align: top;
    }
}
