@import 'marcura-ui/less.less';

.ma-pager {
    display: inline-block;

    &-pages {
        display: inline-block;
    }

    .ma-button {
        border-radius: 0;

        &-first {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        &-last {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        &-previous-range, &-next-range {
            min-width: 30px;
            padding-left: 5px;
            padding-right: 5px;
        }

        &-first, &-previous, &-previous-range {
            border-right-width: 0;
        }

        &-next, &-last, &-next-range {
            border-left-width: 0;
        }

        &-page {
            &.ma-button-has-text {
                min-width: 30px;
                padding-left: 5px;
                padding-right: 5px;
            }

            &.ma-button-default:not(:last-child) {
                border-right-width: 0;
                padding-right: 6px;
            }

            &.ma-button-selected + .ma-button-page {
                border-left-width: 0;
                padding-left: 6px;
            }
        }
    } 
}