.ma-date-box {
    display: inline-block;

    &-is-focused {
        }

    &-wrapper {
        position: relative;
    }

    &-date {
        display: inline-block;
        padding-right: 30px;
        border-radius: 0;
        font-size: 14px;

        &::-ms-clear {
            display: none;
        }
    }

    &-hours {}

    &-icon {
        position: absolute;
        display: inline-block;
        font-size: 14px;
        width: 30px;
        height: 30px;
        vertical-align: top;
        top: 0;
        right: 0;
        text-align: center;
        cursor: pointer;

        &::before {
            top: 8px;
            position: relative;
        }
    }

    &-is-resettable &-date {
        padding-right: 60px;
    }

    .ma-reset-value {
        right: 35px;
    }
}
