@import 'marcura-ui/less.less';

.ma-date-box {
    font-family: @font-family;
    min-width: 120px;
    width: 100%;
    display: inline-block;
    position: relative;
    .input-reset-button;

    &-is-reset-disabled {
        .input-reset-button-disabled;
    }

    &-is-disabled {
        .ma-date-box-inner {
            background-color: @color-disabled;
            .box-shadow(none);
        }

        .ma-date-box-date,
        .ma-date-box-hour,
        .ma-date-box-minute {
            background-color: @color-disabled;
            color: @text-color-disabled;
            cursor: default;
        }

        .ma-date-box-colon {
            cursor: default;
        }

        .ma-date-box-icon {
            opacity: 0.65;
            cursor: default;
        }
    }

    &-is-focused {
        .ma-date-box-inner {
            .box-shadow(@input-shadow-focused);
            border-color: @color-primary;
        }
    }

    &-can-reset {
        padding-right: 29px;
    }

    &-is-invalid&-is-touched {
        &.ma-date-box-is-focused .ma-date-box-inner {
            .box-shadow(@input-shadow-invalid);
        }

        .ma-date-box-inner {
            border-color: @color-danger;
        }
    }

    &-has-time {
        .ma-date-box-inner {
            padding-right: 86px;
        }
    }

    &-inner {
        height: 30px;
        position: relative;
        padding: 5px 30px 5px 10px;
        border: 1px solid @border-color;
        background-color: @input-background-color;
        .box-shadow(@input-shadow);
        .input-transition;
        .box-sizing(border-box);
    }

    &-date,
    &-hour,
    &-minute {
        .input;
        display: inline-block;
        font-size: 14px;
        height: 17px;
        vertical-align: top;
        font-family: @font-family;
        line-height: normal;
    }

    &-date {
        width: 100%;
        text-overflow: ellipsis;
    }

    &-hour {
        width: 22px;
        text-align: center;
        position: absolute;
        top: 5px;
        right: 59px;
    }

    &-minute {
        width: 22px;
        text-align: center;
        position: absolute;
        top: 5px;
        right: 35px;
    }

    &-colon {
        display: inline-block;
        font-size: 14px;
        height: 17px;
        width: 2px;
        text-align: center;
        position: absolute;
        top: 5px;
        right: 58px;
        line-height: normal;
    }

    &-icon {
        position: absolute;
        display: inline-block;
        font-size: 14px;
        width: 31px;
        height: 28px;
        vertical-align: top;
        top: 0;
        right: 0;
        margin-right: -1px;
        text-align: center;
        cursor: pointer;

        &::before {
            top: 7px;
            position: relative;
        }
    }
}

.pika-single {
    border-color: @border-color;

    .is-selected .pika-button {
        border-radius: 0;
        .box-shadow(none);
        background: @color-primary;
    }

    .pika-button:hover {
        border-radius: 0;
    }

    .pika-table abbr {
        cursor: default;
    }
}
